@charset "UTF-8";

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    
}

.listagem-pokemon{
    
}